.accessible-menu {
	display: none;
}

.body-accessible {
	margin: 70px auto 0;
	padding: 0 2em;
	max-width: 35em;
	min-width: 320px;

	background: white;

	color: black;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-accessible .accessible-enter {
	display: none;
}

.body-accessible.font-family-sans {
	font-family: 'Trebuchet MS', Helvetica, Verdana, Arial, serif;
}

.body-accessible.no-images img {
	display: none;
}

.body-accessible.theme-inverted {
	background: black;
	color: white;
}

.body-accessible.theme-colored {
	background: #DCF2D8;
	color: #131200;
}

.body-accessible.font-size-s {
	font-size: 0.8em;
}

.body-accessible.font-size-m {
	font-size: 1em;
}

.body-accessible.font-size-l {
	font-size: 1.25em;
}

.body-accessible.font-size-xl {
	font-size: 1.5em;
}

.body-accessible.font-size-xxl {
	font-size: 2em;
}

.body-accessible p {
	line-height: 1.75;
}

.body-accessible img {
	float: right;
	max-width: 15em;
	max-height: 15em;
	margin: 1em 0 1em 0.5em;
}

.body-accessible table {
	border: thin solid;
	border-collapse: collapse;
}

.body-accessible td,
.body-accessible th {
	border: 0.12em solid;
	padding: 0.5em;
	vertical-align: top;
}

.body-accessible ul,
.body-accessible ol {
	margin: 1.5em 0;
}

.body-accessible ul > li,
.body-accessible ol > li {
	margin: 0.5em 0;
}

.body-accessible li > ul,
.body-accessible li > ol {
	margin: 0.5em 0;
}

.body-accessible a {
	color: inherit;
	text-decoration: underline;
}

.body-accessible a[href$=\.pdf],
.body-accessible a[href$=\.doc],
.body-accessible a[href$=\.docx],
.body-accessible a[href$=\.xls],
.body-accessible a[href$=\.xlsx] {
	padding-right: 1em;
	background-image: url(img/download.svg);
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: auto 0.8em;
}

.body-accessible a[target=_blank] {
	padding-right: 1em;
	background-image: url(img/blank.svg);
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: auto 0.8em;
}

.body-accessible .note {
	border: 0.25em solid;
	max-width: 40%;
	float: right;
	padding: 0.3em 0.8em;
	margin: 1em 0 1em 0.5em;
}

.body-accessible a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.body-accessible.theme-inverted a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.body-accessible.theme-inverted a[target=_blank] {
	background-image: url(img/blank-inverted.svg);
}

.body-accessible.theme-inverted a[href$=\.pdf],
.body-accessible.theme-inverted a[href$=\.doc],
.body-accessible.theme-inverted a[href$=\.docx],
.body-accessible.theme-inverted a[href$=\.xls],
.body-accessible.theme-inverted a[href$=\.xlsx] {
	background-image: url(img/download-inverted.svg);
}

.body-accessible .accessible-link {
	display: none;
}

.body-accessible .accessible-menu {
	display: block;

	position: fixed;
	top: 0;
	left: 0;

	padding: 10px 0;
	margin: 0;
	width: 100%;
	text-align: center;

	background: white;
	border-bottom: thin solid black;

	font-family: 'Trebuchet MS', Helvetica, Verdana, Arial, serif;
	font-size: 18px;
	line-height: 32px;
	color: black;
}

.accessible-menu-inner {
	display: inline-block;
	padding: 0;
}

.accessible-menu .accessible-button-group {
	display: inline-block;
	margin: 0 0 0 1em;
}

.accessible-button {
	position: relative;

	width: 32px;
	height: 32px;
	padding: 0;

	background-repeat: no-repeat;
	background-position: center center;

	border: thin solid black;
	border-radius: 4px;
	box-shadow: 1px 1px #000;

	text-indent: -9999px;

	cursor: pointer;
}

.accessible-button:focus {
	outline: none;
	border-color: #d55959;
	box-shadow: 1px 1px #d55959;
}

.accessible-button_active::after {
	content: '';

	position: absolute;
	z-index: 1;
	top: 33px;
	left: 1px;

	display: inline-block;
	width: 28px;
	height: 3px;

	background: #d55959;
}

.accessible-button:disabled {
	opacity: 0.4;
}

.accessible-button-smaller {
	background-image: url(img/btn-smaller.png);
}

.accessible-button-larger {
	background-image: url(img/btn-larger.png);
}

.accessible-button-normal {
	background-image: url(img/btn-normal.png);
}

.accessible-button-inverted {
	background-image: url(img/btn-inverted.png);
}

.accessible-button-colored {
	background-image: url(img/btn-colored.png);
}

.accessible-button-serif {
	background-image: url(img/btn-serif.png);
}

.accessible-button-sans {
	background-image: url(img/btn-sans.png);
}

.accessible-button-group-images {
	min-width: 9em;
	text-align: left;
}

.accessible-button-toggle-images {
	width: auto;
	text-indent: 0;
	padding: 0 0.5em 0 2em;
	background-color: transparent;
	background-image: url(img/btn-images-off.png);
	background-position-x: 2px;
}

.accessible-button-toggle-images.accessible-button-images-off {
	background-image: url(img/btn-images-on.png);
}

.accessible-sitemap {
	display: inline-block;
	margin: 0 0 0 1em;
}